@using Campus.Recruitment.Enterprise.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "修改密码";
}
<link href="@AppSetting.Rss_Image/content/static/enterprise/debug/css/dialog.css" rel="stylesheet" type="text/css">
<link href="@AppSetting.Rss_Image/content/static/enterprise/debug/css/form.css" rel="stylesheet" type="text/css">
<link href="@AppSetting.Rss_Image/content/static/enterprise/debug/css/corphome.css" rel="stylesheet" type="text/css">
<link href="@AppSetting.Rss_Image/content/static/enterprise/debug/css/account.css" rel="stylesheet" type="text/css">
<script async="" src="@AppSetting.Rss_Image/content/static/zheyibu/components/google/gtm.js"></script>
<script src="@AppSetting.Rss_Image/content/static/js/sea-modules/seajs/seajs/2.1.1/sea.js" type="text/javascript"></script>
<script src="@AppSetting.Rss_Image/content/static/js/sea-modules/seajs/seajs-style/1.0.2/seajs-style.js" type="text/javascript"></script>
<script src="@AppSetting.Rss_Image/content/static/js/corp/init.js"></script>
<script type="text/javascript">
    seajs.config({
        alias: {
            $: 'jquery/jquery/1.7.2/jquery',
            placeholder: 'jquery/placeholder/1.0.0/placeholder',
            dialog: 'arale/dialog/1.2.3/dialog',
            validator: 'arale/validator/0.9.7/validator'
        }
    });
</script>
<script src="@AppSetting.Rss_Image/content/static/zheyibu/components/jQuery/jquery.min.js"></script>
<script src="@AppSetting.Rss_Image/content/static/lib/js/base/jquery.validate.min.js"></script>
<script src="@AppSetting.Rss_Image/content/static/enterprise/lib/components/form/form.js"></script>
<script src="@AppSetting.Rss_Image/content/static/enterprise/debug/js/topu.dialog.js"></script>

<div id="content" style="width:1000px;margin-top:30px">
    <div class="content">
        <div class="account">
            <div class="account-sidebar">
                <h2>账号管理</h2>
                <a href="/account/setting">账号设置</a>
                <a href="/account/password" class="active">密码修改</a>
            </div>
            <div class="account-content">
                <form class="form" id="form" novalidate="novalidate">
                    <div class="option must-fill">
                        <div class="field">登录账号</div>
                        <div class="val">btg001</div>
                    </div>
                    <div class="option">
                        <label class="field" for="OldPwd">旧密码</label>
                        <div class="val">
                            <input type="password" id="OldPwd" name="OldPwd" class="val-input">
                        </div>
                    </div>
                    <div class="option">
                        <label class="field" for="NewPwd">新密码</label>
                        <div class="val">
                            <input type="password" id="NewPwd" name="NewPwd" class="val-input">
                        </div>
                    </div>
                    <div class="option">
                        <label class="field" for="ConfirmPwd">确认新密码</label>
                        <div class="val">
                            <input type="password" id="ConfirmPwd" name="ConfirmPwd" class="val-input">
                        </div>
                    </div>
                    <div class="option">
                        <div class="field">&nbsp;</div>
                        <div class="val">
                            <input type="submit" class="btn btn-submit" value="保存">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(".radioBox").radioBox();
    var formObj = $('#form').validate({
        sendForm: false,
        rules: {
            OldPwd: {
                required: true,
                remote: {
                    url: '/account//account/check-old-password',
                    type: 'post',
                    data: {
                        pwd: function() {
                            return $("#OldPwd").val();
                        },
                        __RequestVerificationToken: function() {
                            return $('input[name=__RequestVerificationToken]').val();
                        }
                    }
                }
            },
            NewPwd: {
                required: true,
                rangelength: [6, 16],
            },
            ConfirmPwd: {
                required: true,
                equalTo: '#NewPwd',
                rangelength: [6, 16],
            }
        },
        messages: {
            OldPwd: {
                required: "旧密码不能为空",
                remote: "旧密码验证失败，请重新输入"
            },
            NewPwd: {
                required: "密码不能为空",
                rangelength: '密码为6-16位字符'
            },
            ConfirmPwd: {
                required: "密码不能为空",
                equalTo: '两次输入的新密码不一致',
                rangelength: '密码为6-16位字符'
            }
        },
        submitHandler: function(form) {
            $.ajax({
                type: 'POST',
                url: '/account/change-password',
                data: {
                    OldPwd: $('#OldPwd').val(),
                    NewPwd: $('#NewPwd').val(),
                    ConfirmPwd: $('#ConfirmPwd').val()
                },
                success: function(r) {
                    if (r.code == 0) {
                        alert("密码修改成功");
                        $("#form")[0].reset();
                    } else {
                        alert(r.msg);
                    }
                }
            });
        }
    });
</script>

