@using Campus.Recruitment.Enterprise.Models
@{
    //判断是否登录
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "企业-首页推广详情";
}

<link href="@AppSetting.Rss_Image/content/static/lib/css/normalize.css" rel="stylesheet" type="text/css">
<link href="@AppSetting.Rss_Image/content/static/enterprise/css/activity/activity.css" rel="stylesheet" type="text/css">
<script async="" src="@AppSetting.Rss_Image/content/static/zheyibu/components/google/gtm.js"></script>

<script src="@AppSetting.Rss_Image/content/static/js/sea-modules/seajs/seajs/2.1.1/sea.js" type="text/javascript"></script>
<script src="@AppSetting.Rss_Image/content/static/js/sea-modules/seajs/seajs-style/1.0.2/seajs-style.js" type="text/javascript"></script>
<script src="@AppSetting.Rss_Image/content/static/js/corp/init.js"></script>
<script type="text/javascript">
    seajs.config({
        alias: {
            $: 'jquery/jquery/1.7.2/jquery',
            placeholder: 'jquery/placeholder/1.0.0/placeholder',
            dialog: 'arale/dialog/1.2.3/dialog',
            validator: 'arale/validator/0.9.7/validator'
        }
    });
</script>
<script src="@AppSetting.Rss_Image/content/static/zheyibu/components/jQuery/jquery.min.js"></script>
<script src="@AppSetting.Rss_Image/content/static/lib/js/base/jquery-1.11.3.min.js"></script>

 <!-- 简历详情 start -->
<div class="part-content">
    <div class="contentpart">
        <!-- 活动title -->
        <div id="activity-title">您的位置：校园招聘网（企业端）/校园推广活动</div>
        <!-- 活动 start -->
        <div id="activity-content">
            <div class="contentHeader">
                <p id="mainTitle">拓优顾问、新起点2016武汉大学联合宣讲会</p>
                <p id="subTitle">2015年09月14日，新起点校园招聘网</p>
            </div>
            <!-- 活动内容 start -->
            <div id="activityC">
                <p class="activityP">
                </p>
                <p><img src="/content/admin/Scripts/Ueditor/net/upload/2015-12-14/1f55a4f7-39fd-4731-8a68-99cf8bf2c9ca.jpg" title="wh_xjh.jpg"></p>
                <p>
                    <br>
                </p>
                <p>“金九银十”，九月向来是秋季校园招聘的重要时间，各类大中小企业的“人才争夺战”也正式拉开序幕。在硝烟弥漫的校园宣讲中，<a href="http://company.zheyibu.com/157707/" target="_blank">拓优</a>顾问武汉分公司与新起点联合举办的宣讲会最终取得了超出预期的效果，在这场宣讲会中，<a href="http://company.zheyibu.com/862612/" target="_blank">无</a>论学生还是参会员工，都表现出极大的热情，互动环节引爆全场，最后该企业更是收获了120余份简历，成果显著。</p>
                <p>
                    <br>
                </p>
                <p>此次宣讲会在学生中间产生了很好的效果，这从120余份简历的投递总数就能看出。事实上，宣讲会的正式召开虽然在9月11日，但早在一周前，关于宣讲会的筹备就紧锣密鼓地展开了，工作安排众多却有条不紊。新起点武汉校园团队围绕时间场地确定、<a href="http://www.zheyibu.com/search/jobs/?q=物料" target="_blank">物料</a>准备、前期宣传和资料制作等各方面分别展开工作，从9月6日到10日，每天一个工作重心，更从整体规划和细节考察上综合把控，以确保这次宣讲会的成功举办。</p>
                <p>
                    <br>
                </p>
                <p>横幅、易拉宝、DM单页等<a href="http://www.zheyibu.com/search/jobs/?q=物料" target="_blank">物料</a>是宣讲会取得预期效果的重要保证，因此这些<a href="http://www.zheyibu.com/search/jobs/?q=物料" target="_blank">物料</a>的准备工作在9月6日就开始进行，新起点校园运营团队既对该企业历年历届企业宣讲会宣传资料进行参考，又根据今年的企业发展状况、招聘需求以及校招趋势进行相应地细致修改。在确定宣讲会的召开时间时，为了取得更好的效果，果断建议该公司避开大型企业的宣讲会，以免冲突，事实也证明，这确实对宣讲会的成功起到了很大的作用。</p>
                <p>
                    <br>
                </p>
                <p>“企业宣讲”是宣讲会的重头戏，这是企业向学生宣传展示自身实力与特色的重要机会，而参加的学生也会通过企业的表现来判断企业是否与自己契合，因此，如何在宣讲会上表达自己、吸引优秀人才就显得至关重要。企业宣讲讲什么？怎么讲？这些细节看似微不足道，但如果考虑不周到，也会对宣讲会整体效果造成影响。新起点校园团队结合自身多年的宣讲会<a href="http://www.zheyibu.com/search/jobs/?q=运维" target="_blank">运维</a>经验，从宣讲内容、形式、互动方式等诸多方面给予举办企业建议和指导。让该公司从9月6日就着手准备企业宣讲部分，并提前确定宣讲流程，内容以及宣讲人，并进行细致的任务安排。</p>
                <p>
                    <br>
                </p>
                <p>对于学生来说，<a href="http://company.zheyibu.com/862612/" target="_blank">无</a>数场宣讲会跑下来，每个企业的宣讲都大同小异，为了突出企业优势，做出特色，该公司在确定宣讲会的内容与形式时，听取了新起点的建议，将“创新点”作为重要参考，最终确定以现场宣讲、视频和PPT三种形式完成“企业宣讲”的部分。</p>
                <p>
                    <br>
                </p>
                <p>在进行视频准备工作时，工作人员首先确定了视频的整体预期效果，然后对企业员工的视频内容进行审核把关，通过后再进行录制。PPT在宣讲中的作用不同于视频，它会更好地呈现关于企业的“干货”类信息，因此工作人员根据企业的需求和优势有重点地进行了内容策划。在完成视频和PPT的制作后，所以参会人员还提前两天进行预演，严格把控质量，在预演中提出意见，对于出现的问题作出了相应调整。</p>
                <p>
                    <br>
                </p>
                <p>当所有的必需工作全部完成，为了保证宣讲会万<a href="http://company.zheyibu.com/862612/" target="_blank">无</a>一失，新起点联合举办公司对宣讲会进行了整体模拟演练，确保主讲人对PPT和讲稿足够熟悉，同时做好相应的预案，最大限度排除可能出现的突发情况。</p>
                <p>
                    <br>
                </p>
                <p>此次宣讲会的成功和前期工作中客户第一的意识、全面有序的安排、严谨细致的布置、线上线下同时进行的方式分不开。在当下学生就业信息获取多样化、企业宣讲会渐渐失去吸引力的形势下，要想在校招中获得更满意的效果，就一定要求新、求细，而这都离不开专业的校招新模式和广泛的校招资源。这些正是新起点所具备和坚持追求的，在之后的校园宣讲中，该公司将继续与新起点一起探索校招新模式，建立更贴近学生、贴近企业的校招流程体系。</p>
                <p>
                    <br>
                </p>
                <p></p>
                <div class="actions">
                    <!-- Baidu Button BEGIN -->
                    <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1494471235679">
                        <span>分享到：</span>
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                    <!-- Baidu Button END -->
                </div>
            </div>
            <!-- 活动内容 end -->
        </div>
    </div>
    <div class="otherF">
        <div id="logobanner">了解新起点更多校园推广活动</div>
        <div class="thphoto">
            <div class="th-photo">
                <a href="/home/campusactivity/4362">
                    <img src="/content/admin/Scripts/Ueditor/net/upload/2015-12-14/d6b30507-0f10-4176-afd2-4a4bc028f90c.jpg" alt="photo">
                    <div class="p-mask">北京拓优&amp;新起点2016西北大学联合宣讲会</div>
                </a>
            </div>
            <div class="th-photo">
                <a href="/home/campusactivity/4357">
                    <img src="/content/admin/Scripts/Ueditor/net/upload/2015-12-14/81f48d39-7bd1-44f7-8852-cf2ea9e77772.jpg" alt="photo">
                    <div class="p-mask">拓优顾问2016山东大学校园宣讲会纪实</div>
                </a>
            </div>
            <div class="th-photo">
                <a href="/home/campusactivity/4358">
                    <img src="/content/admin/Scripts/Ueditor/net/upload/2015-12-14/bf7c06be-bdab-41f8-bbb2-529cafe9b7e3.jpg" alt="photo">
                    <div class="p-mask">拓优青岛分公司2016青岛科技大学校园宣讲会</div>
                </a>
            </div>
        </div>
    </div>
</div>