@using Campus.Recruitment.Enterprise.Models
@model Campus.Recruitment.Entities.Entity.Position
@{
    //判断是否登录
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "职位管理-发布职位";
}
<link href="@AppSetting.Rss_Image/content/static/zheyibu/static/css/dialog.css" rel="stylesheet" type="text/css">
<link href="@AppSetting.Rss_Image/content/static/css/corp/dialog.css" rel="stylesheet" type="text/css">
<link href="@AppSetting.Rss_Image/content/static/zheyibu/static/css/layer2.css" rel="stylesheet" type="text/css">
<link href="@AppSetting.Rss_Image/content/static/css/corp/showBox.css" rel="stylesheet" type="text/css">
<link href="@AppSetting.Rss_Image/content/static/zheyibu/static/css/blue-skin.css" rel="stylesheet" type="text/css">
<link href="@AppSetting.Rss_Image/content/static/css/corp/position-v2.css" rel="stylesheet" type="text/css">
<link href="@AppSetting.Rss_Image/content/static/js/sea-modules/jquery/autocomplete/1.11.4/jquery-ui.css" rel="stylesheet" type="text/css">
<script async="" src="@AppSetting.Rss_Image/content/static/zheyibu/components/google/gtm.js"></script>
<script src="@AppSetting.Rss_Image/content/static/js/sea-modules/seajs/seajs/2.1.1/sea.js" type="text/javascript"></script>
<script src="@AppSetting.Rss_Image/content/static/js/sea-modules/seajs/seajs-style/1.0.2/seajs-style.js" type="text/javascript"></script>
<script src="@AppSetting.Rss_Image/content/static/js/corp/init.js"></script>
<script type="text/javascript">
    seajs.config({
        alias: {
            $: 'jquery/jquery/1.7.2/jquery',
            placeholder: 'jquery/placeholder/1.0.0/placeholder',
            dialog: 'arale/dialog/1.2.3/dialog',
            validator: 'arale/validator/0.9.7/validator'
        }
    });
</script>
<script src="@AppSetting.Rss_Image/content/static/zheyibu/components/jQuery/jquery.min.js"></script>
<script src="@AppSetting.Rss_Image/content/static/js/corp/publisher.js?d=20170523"></script>
<style>
    .ui-dialog {
        padding: 0;
    }

        .ui-dialog.animated {
            padding: 20px;
        }

        .ui-dialog .ui-dialog-content {
            padding: 0;
        }
</style>
<div class="container">
    <div id="new-position-content">
        <div class="channel-hd">
            <div class="channel-hd-wrap">
                <div class="wrapper-1000 clearfix">
                    <h1 class="channel-hd-title">发布新职位</h1>
                    @*<div class="select">
                        <i class="u-icon-position" style="left:126px;"></i>
                        <input type="text" value="选择职位模板" class="select-result" readonly="readonly">
                        <ul style="top: 30px; max-height: 280px; left: 0px; width: 148px; display: none;">
                            <li><a href="/position/create">选择职位模板</a></li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="channel-bd">
            <div class="wrapper-1000">
                <form action="/position/publish-success" method="post" id="position-form" novalidate="novalidate" data-widget-cid="widget-7">
                    <div class="publish-wrap-hd">
                        <div class="publish-step current">
                            <h1>第一步：职位要求</h1>
                        </div>
                        <div class="publish-step">
                            <h1>第二步：职位描述</h1>
                        </div>
                    </div>
                    <div class="publish-wrap-bd">
                        <div id="divStep1">
                           <input data-val="true"  id="Id" name="Id" type="hidden" value="@Model.Id">
                            <div class="section-tips-box" style="display:none;">
                                <div class="section-tips-box-wrap">
                                    <img src="/content/static/css/corp/img/icon/tips-ioc.png" alt="温馨提示">
                                    <h3>据统计，要求明确的职位招聘效果平均提升1.5倍以上！</h3>
                                    <ul>
                                        <li>职位要求越明确，搜索排名越靠前。</li>
                                        <li>有助于系统更精准的为您推荐简历。</li>
                                        <li>减少无效简历投递，减轻筛选压力。</li>
                                    </ul>
                                </div>
                                <span class="close-tips-btn"></span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="publish-section">
                                @*<div class="m-notice"><span tabindex="-1">职位发布须知</span></div>*@
                                <div class="publish-section-bd">
                                    <div class="ui-form-item">
                                        <label for="position" class="ui-label"><em class="rq">*</em>职位名称：</label>
                                        <input type="text" name="Position" class="ui-text" value="@Model.Name" id="position" placeholder="请输入名称" required="" data-widget-cid="widget-2" data-explain="">
                                        <div class="ui-form-explain"></div>
                                    </div>
                                    <div class="ui-form-item form-item-degree">
                                        <label for="DegreeIds" class="ui-label"><em class="rq">*</em>学历要求：</label>
                                        <div class="degree-sel clearfix">
                                            <input id="DegreeIds" name="DegreeIds" type="hidden" value="@Model.Degree_ids" data-widget-cid="widget-3" data-explain="">
                                            <input id="DegreeNames" name="DegreeNames" type="hidden" value="@Model.Degree_names" >
                                            @{ 
                                                string dazhuan = Model.Degree_ids.Split(',').Contains("1") ? "d-sel" : "";
                                                string benke = Model.Degree_ids.Split(',').Contains("2") ? "d-sel" : "";
                                                string suoshi = Model.Degree_ids.Split(',').Contains("3") ? "d-sel" : "";
                                                string poshi = Model.Degree_ids.Split(',').Contains("4") ? "d-sel" : "";
                                                string buxian = Model.Degree_ids=="0" ? "d-sel" : "";
                                            }
                                            <label class="@dazhuan" data-id="1">大专</label>
                                            <label class="@benke" data-id="2">本科</label>
                                            <label class="@suoshi" data-id="3">硕士</label>
                                            <label class="@poshi" data-id="4">博士</label>
                                            <label class="@buxian unlimit " data-id="0">不限</label>
                                        </div>
                                        <div class="ui-form-tip"></div>
                                        <div class="ui-form-explain"></div>
                                        <p style="position:absolute;bottom: 6px;left:52px;line-height:20px;color:#999;margin-bottom:-16px;">可多选</p>
                                    </div>
                                    <div class="ui-form-item">
                                        <label class="ui-label" for="J_Major"><em class="rq">*</em>专业要求：</label>
                                        <input type="text" class="ui-text ui-dialog-ico" id="J_Major" value="@Model.Major_name" name="MajorName" placeholder="请选择" required="" readonly="readonly" unselectable="on" data-widget-cid="widget-4" data-explain="">
                                        <input type="hidden" name="MajorIds" id="MajorIds" value="@Model.Major_ids">
                                        <div class="ui-form-explain"></div>
                                    </div>
                                    <div class="ui-form-item">
                                        <label class="ui-label" for="Industry"><em class="rq">*</em>所属行业：</label>
                                        <input type="text" class="ui-text ui-dialog-ico" id="Industry" value="@Model.Industry_name" name="IndustryName" placeholder="请选择" required="" readonly="readonly" unselectable="on" data-widget-cid="widget-4" data-explain="">
                                        <input type="hidden" name="IndustryId" id="IndustryId" value="@Model.Industry_id">
                                        <div class="ui-form-explain"></div>

                                    </div>
                                    <div class="ui-form-item">
                                        <label class="ui-label" for="J_SchoolCity"><em class="rq">*</em>学校地区：</label>
                                        <input type="text" class="ui-text ui-dialog-ico" id="J_SchoolCity" placeholder="请选择" name="SchoolCityNames" value="@Model.School_city_names" required="" readonly="readonly" unselectable="on" data-widget-cid="widget-5" data-explain="">
                                        <input type="hidden" name="SchoolCityIds" id="SchoolCityIds" value="@Model.School_city_ids">
                                        <div class="ui-form-explain"></div>
                                    </div>
                                    <div class="ui-form-item">
                                        <label class="ui-label" for="J_SchoolLvl"><em class="rq">*</em>学校级别：</label>
                                        <input type="text" id="J_SchoolLvl" class="ui-text ui-dialog-ico" placeholder="请选择" value="@Model.School_level_name" name="SchoolLevelNames" required="" readonly="readonly" unselectable="on" data-widget-cid="widget-6" data-explain="">
                                        <input type="hidden" name="SchoolLevelIds" id="SchoolLevelIds" value="@Model.School_level_ids">
                                        <div class="ui-form-explain"></div>
                                    </div>
                                    @*<div class="ui-form-item dN" id="chooseAssign">
                                        <p class="ui-check-label">
                                            共有<em id="schoolCount">0</em>所院校符合要求，选择高校推送职位
                                        </p>
                                        <div class="assignschool" id="assignSchool" data-url="http://api.zheyibu.com/school/">
                                            <input name="SchoolIds" type="hidden" data-first="true">
                                        </div>
                                    </div>*@
                                    @*<div class="ui-form-item">
                                        <label for="" class="ui-label">其他要求：</label>
                                        <div id="J_PubTags" class="pub-tags">
                                            <input name="Additional" type="hidden" value="@Model.Additional">
                                            <span id="boyonly" class="">限男性</span>
                                            <span id="girlonly" class="">限女性</span>
                                            <span class="">党员</span>
                                            <span class="">有实习经历</span>
                                            <span class="">有项目经验</span>
                                            <span class="">熟悉office</span>
                                            <span class="">英语四级</span>
                                            <span class="">英语六级</span>
                                            <span class="">日语二级以上</span>
                                            <span class="">计算机等级二级以上</span>
                                            <span class="">会计上岗证</span>
                                            <span class="">普通话等级证书</span>
                                            <span class="">导游资格证</span>
                                            <span class="">获得校内奖励</span>
                                            <span class="">担任过校内职务</span>
                                            <span class="">获得奖学金</span>
                                            <span class="">体育特长</span>
                                            <span class="">文艺特长</span>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                            <div class="publish-action-wrap">
                                <div class="ui-form-button">
                                    <button type="button" class="ui-btn ui-btn-primary" id="nextBtn">下一步</button>
                                </div>
                            </div>
                        </div>
                        <div id="divStep2" class="dN">
                            <div class="publish-section">
                                <div class="publish-section-bd">
                                    <div class="ui-form-item form-item-workNature">
                                        <label class="ui-label">职位名称：</label>
                                        <div class="position-step"></div>
                                    </div>
                                    <div class="ui-form-item form-item-workNature">
                                        <label for="" class="ui-label"><em class="rq">*</em>工作性质：</label>
                                        <label class="ui-check-label">
                                            <input type="radio" name="PositionType" class="positiontype" checked="checked" value="1">全职
                                        </label>
                                        <label class="ui-check-label">
                                            <input type="radio" name="PositionType" class="positiontype" value="2">实习
                                        </label>
                                        <div class="ui-form-explain" style="left: 340px;"></div>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="FunctionIds" class="ui-label"><em class="rq">*</em>职能类别：</label>
                                        <input type="text" class="ui-text ui-dialog-ico" id="J_Func" name="FunctionNames" value="@Model.Function_names" readonly="readonly" unselectable="on">
                                        <input type="hidden" name="FunctionIds" id="FunctionIds" required="" data-widget-cid="widget-8" value="@Model.Function_ids" data-explain="">
                                        <div class="ui-form-explain"></div>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="CityIds" class="ui-label"><em class="rq">*</em>工作城市：</label>
                                        <input type="text" class="ui-text  ui-dialog-ico" id="J_JobCity" name="CityNames" value="@Model.City_names" readonly="readonly" unselectable="on">
                                        <input type="hidden" name="CityIds" id="CityIds" required="" data-widget-cid="widget-9" data-explain="" value="@Model.City_ids">
                                        <div class="ui-form-explain"></div>
                                    </div>
                                    <div class="ui-form-item">
                                        <label for="RecruitNum" class="ui-label"><em class="rq">*</em>招聘人数：</label>
                                        <input type="text" name="RecruitCount" class="ui-text-m" id="RecruitNum" required="" data-rule="digits" max="1000" value="@Model.Recruit_count" autocomplete="off" onkeyup="value=value.replace(/[^\d.]/g,'')" data-widget-cid="widget-10" data-explain="">
                                        <label class="ui-check-label" style=" margin-left:10px;">
                                            <input type="checkbox" id="ckRNegotiable">若干
                                        </label>
                                        <div class="ui-form-explain" style="left: 375px;"></div>
                                    </div>
                                    <div class="ui-form-item internship-item form-item-internship" style="display: none;">
                                        <label for="InternLength" class="ui-label"><em class="rq">*</em>实习时长：</label>
                                        <div class="select category-select u-no-beaf">
                                            <i class="u-icon-position"></i>
                                            <input class="select-result" readonly="readonly" value="">
                                            <input id="InternLength" name="InternLength" type="hidden" value="@Model.Intern_length">
                                            <ul style="display: none;">
                                                <li class="u-unit" data-id="1">
                                                    <div class="u-li-content">3个月以下</div>
                                                </li>
                                                <li class="u-unit" data-id="2">
                                                    <div class="u-li-content">3-6个月</div>
                                                </li>
                                                <li class="u-unit" data-id="3">
                                                    <div class="u-li-content">6个月以上</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="ui-form-explain"></div>
                                    </div>
                                    <div class="ui-form-item internship-item form-item-weekday" style="display: none;">
                                        <label for="InternDays" class="ui-label"><em class="rq">*</em>每周天数：</label>
                                        <div class="select category-select u-no-beaf">
                                            <i class="u-icon-position"></i>
                                            <input class="select-result" readonly="readonly" value="">
                                            <input id="InternDays" name="InternDays" type="hidden" value="@Model.Intern_days">
                                            <ul style="display: none;">
                                                <li class="u-unit" data-id="2">
                                                    <div class="u-li-content">2天</div>
                                                </li>
                                                <li class="u-unit" data-id="3">
                                                    <div class="u-li-content">3天</div>
                                                </li>
                                                <li class="u-unit" data-id="4">
                                                    <div class="u-li-content">4天</div>
                                                </li>
                                                <li class="u-unit" data-id="5">
                                                    <div class="u-li-content">5天</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="ui-form-explain"></div>
                                    </div>
                                    <div class="ui-form-item internship-item form-item-shixi" style="display: none;">
                                        <label class="ui-label"><em class="rq">*</em>薪资范围：</label>
                                        <div class="internship-salary-block" style="float: left; width: 500px;">
                                            <div class="top-row">
                                                <label class="ui-check-label">
                                                    <input id="Radio6" class="internship-salary-type" name="InternSalaryType" checked="'checked'" required="" value="1" type="radio">月薪
                                                </label>
                                                <label class="ui-check-label">
                                                    <input id="Radio7" class="internship-salary-type" name="InternSalaryType" value="2" type="radio">日薪
                                                </label>
                                                <label class="ui-check-label">
                                                    <input id="Radio8" class="internship-salary-type" name="InternSalaryType" value="3" type="radio">时薪
                                                </label>
                                            </div>
                                            <div class="bottom-row">
                                                <div id="mon-salay" class="internship-salary-value" style="display: block; ">
                                                    <input type="text" name="InternSalaryMin" id="InternSalaryMin" value="@Model.Intern_salary_min" class="ui-text-s" required="" data-rule="number" data-display="月薪范围" min="1000" placeholder="最低月薪" autocomplete="off" onkeyup="value=value.replace(/[^\d.]/g,'')"> <span class="ui-tip">元</span>
                                                    <em class="to">到</em>
                                                    <input type="text" name="InternSalaryMax" id="InternSalaryMax" value="@Model.Intern_salary_max" class="ui-text-s" required="" data-rule="number  compareSalary{target:'#InternSalaryMin'}" data-display="最高月薪" min="1000" placeholder="最高月薪" autocomplete="off" onkeyup="value=value.replace(/[^\d.]/g,'')"> <span class="ui-tip">元</span>
                                                </div>
                                                <div id="day-salay" class="internship-salary-value dN" style="display: none; ">
                                                    <input type="text" name="DailySalary" id="DailySalary" value="@Model.Daily_salary" class="ui-text-s" data-display="日薪" required="" autocomplete="off" onkeyup="value=value.replace(/[^\d.]/g,'')"><span class="ui-tip">元</span>
                                                </div>
                                                <div id="hour-salay" class="internship-salary-value dN" style="display: none; ">
                                                    <input type="text" name="HourSalay" id="HourSalay" value="@Model.Hour_salary" class="ui-text-s" data-display="时薪" required="" autocomplete="off" onkeyup="value=value.replace(/[^\d.]/g,'')"><span class="ui-tip">元</span>
                                                </div>
                                            </div>
                                            <label class="ui-check-label" style=" margin-left:10px;">
                                                <input type="checkbox" id="ckPNegotiable">面议
                                            </label>
                                        </div>
                                        <div class="ui-form-explain"></div>
                                    </div>
                                    <div class="ui-form-item fulltime-item" style="display: block;">
                                        <label for="salaryStart" class="ui-label"><em class="rq">*</em>月薪范围：</label>
                                        <input type="text" class="ui-text-m" id="salaryStart" data-display="最低月薪" name="SalaryMin" value="@Model.Salary_min" placeholder="最低月薪>=2000" required="" data-rule="number integer min{min:2000} max{max:50000}" autocomplete="off" onkeyup="value=value.replace(/[^\d.]/g,'')" data-widget-cid="widget-12" data-explain="">
                                        <span class="to">至</span>
                                        <input type="text" class="ui-text-m" required="" data-rule="number integer compareSalary{target:'#salaryStart'} restrictSalary{target:'#salaryStart'}" id="salaryEnd" data-display="最高月薪" name="SalaryMax" value="@Model.Salary_max" autocomplete="off" placeholder="最高月薪" onkeyup="value=value.replace(/[^\d.]/g,'')" data-widget-cid="widget-13" data-explain="">
                                        <label class="ui-check-label" style=" margin-left:10px;">
                                            <input type="checkbox" id="ckFNegotiable">面议
                                        </label>
                                        <div class="ui-form-explain" style="margin-left:90px;"></div>
                                    </div>
                                    <div class="ui-form-item clear">
                                        <label for="desc" class="ui-label"><em class="rq">*</em>职位描述：</label>
                                        <textarea name="PosDescription" class="ui-area" id="desc" placeholder="职位描述越精确，学生应聘更高效！（不少于30字）" data-widget-cid="widget-11" data-explain="">@Model.Pos_description</textarea>
                                        <div class="ui-form-explain" style="left:130px;top:100px; margin-bottom:20px;"></div>
                                    </div>
                                    @*<div class="ui-form-item internship-item" style="display: none;">
                                        <label class="ui-check-label">
                                            <input data-val="true" data-val-required="CanGotoFullTime 字段是必需的。" id="CanGotoFullTime" name="CanGotoFullTime" type="checkbox" value="true">
                                            <input name="CanGotoFullTime" type="hidden" value="false"> 实习表现优越可提供全职offer机会
                                        </label>
                                    </div>*@
                                    @*<div class="ui-form-item">
                                        <label class="ui-label">职位亮点：</label>
                                        <input type="text" name="Tags" value="" class="ui-text-l ui-dialog-ico" placeholder="填写该职位的吸引力，如福利待遇、发展前景等" id="PositionTags" data-url="/position/tagsdialog" readonly="readonly" unselectable="on">
                                        <div class="ui-form-explain"></div>
                                    </div>
                                    <div class="ui-form-item">
                                        <label class="ui-label">简历接收&nbsp;&nbsp;&nbsp;</label>
                                        <div class="forward">
                                            <label class="ui-check-label">
                                                <input checked="checked" data-val="true" data-val-required="IsSendNewResume 字段是必需的。" id="IsSendNewResume" name="IsSendNewResume" type="checkbox" value="true">
                                                <input name="IsSendNewResume" type="hidden" value="false">
                                                <span class="fwB size14">103815153@qq.com</span>
                                            </label>
                                            <p class="receiving">
                                                <label>同时发送至：</label>
                                                <input type="text" name="ContactEmail" class="ui-text-l" placeholder="可输入多个邮箱地址，用;分隔">
                                            </p>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                            <div class="publish-action-wrap">
                                <div class="ui-form-button">
                                    <button type="button" class="ui-btn ui-btn-primary" id="prevBtn">上一步</button>
                                    @{
                                        string submitBtnName = string.IsNullOrWhiteSpace(Model.Id) ? "发布职位" : "保存";
                                    }
                                    <button type="button" id="zyb-submit-btn" class="ui-btn ui-btn-primary">@submitBtnName</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="arale-dialog-1_2_3">
    <div data-widget-cid="widget-0" class="ui-mask" style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 999; opacity: 0.2; background-color: rgb(0, 0, 0); display: none;"></div>
    <div class="ui-dialog" tabindex="-1" data-widget-cid="widget-15" style="width: 620px; z-index: 999; position: absolute; left: 363.5px; top: 167.5px; display: none;">
        <a class="ui-dialog-close" title="关闭本框" href="javascript:;" data-role="close" style="display: inline;"> </a>
        <div class="ui-dialog-content" data-role="content" style="background: rgb(255, 255, 255); height: 100%; zoom: 1;">
            <div style="font-size:14px;color:#333;border-radius:3px;">
                <div id="m-header" style="width:600px;line-height:44px;color:#fff;font-size:16px;background-color:#85b0dc;padding-left:20px;">职位发布须知</div>
                <p style="margin:12px 22px;">在本站发布的招聘信息必须是大学应届生、在校生可以应聘的职位，严禁发布以下几类职位：</p>
                <p style="color:#A46C3B;margin:10px 22px;">1. 公关、校园推广代理类、加盟类、论坛专职发帖类；</p>
                <p style="color:#A46C3B;margin:10px 22px;">2. 无学历要求的低端类职位，如淘宝客服、工厂普工、传单派发、修理工、搬运工、杂工、保安、保洁工、仓管员等职位；</p>
                <p style="color:#A46C3B;margin:10px 22px;">3. 只要求工作经验的职位（没有应届生/在校生需求）；</p>
                <p style="color:#A46C3B;margin:10px 22px;">4. 招聘信息中包含不良信息的职位；</p>
                <p style="color:#A46C3B;margin:10px 22px;">5. 第三方招聘发布的职位（如中介、劳务派遣）；</p>
                <p style="color:#A46C3B;margin:10px 22px;">6. 培训机构招收学员进行有偿培训，再分配到合作的公司工作。</p>
                <p style="margin:12px 0 24px 22px;">以上类别职位一经发现，本站将立即屏蔽或删除</p>
            </div>
        </div>
    </div>
</div>

<script>
    if("@Model.Position_type" != "0"){
        $("input[name='PositionType']").eq(parseInt(@Model.Position_type) - 1).attr("checked", "checked");
        $("input[name='InternSalaryType']").eq(parseInt(@Model.Intern_salary_type) - 1).attr("checked", "checked");
    }

    if("@ViewBag.Success" != null && "@ViewBag.Success" != ""){
        alert(@ViewBag.Success);
    }

    if(@Model.Recruit_count == 0){
        $("#ckRNegotiable").attr("checked","checked");
        $("#RecruitNum").val("").addClass("ui-disabled").attr("disabled","disabled");
    }

    if(@Model.Salary_min <= 0){
        $("#ckFNegotiable").attr("checked","checked");
        $("#salaryStart").val("").addClass("ui-disabled").attr("disabled","disabled");
        $("#salaryEnd").val("").addClass("ui-disabled").attr("disabled","disabled");
    }

    if(@Model.Intern_salary_min <= 0 && @Model.Daily_salary == 0 && @Model.Hour_salary == 0){
        $("#ckPNegotiable").attr("checked","checked");
        $("#InternSalaryMin").val("").addClass("ui-disabled").attr("disabled","disabled");
        $("#InternSalaryMax").val("").addClass("ui-disabled").attr("disabled","disabled");
        $("#DailySalary").val("").addClass("ui-disabled").attr("disabled","disabled");
        $("#HourSalay").val("").addClass("ui-disabled").attr("disabled","disabled");
    }

    if(@Model.Position_type == 2){
        $(".form-item-shixi").css("display","block");
        $(".fulltime-item").css("display","none")
    }

    $('#Industry').click(function () {
        Pick.industryPick({
            trigger: $(this),
            hidden: $(this).siblings('input:hidden'),
            type: 'multi',
            mostSelectCount: 1
        })
        $('.show-mode-table').slimscroll({
            height: 'auto',
            alwaysVisible: true, //是否 始终显示组件,
            railVisible: true //是否 显示轨道
        }).bind('slimscroll', function (e, pos) {
            if ($(this).height() == $(this).parent().height()) {
                $(this).height($(this).height() - 2);
            }
        });
    })

</script>