@using Campus.Recruitment.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "企业推荐-面试评价";
}
<link href="@AppSetting.Rss_Image/Content/static/student/css/company/position.css" rel="stylesheet" />
<link href="@AppSetting.Rss_Image/Content/static/student/css/company/s-fb.css" rel="stylesheet" />
<link href="@AppSetting.Rss_Image/Content/static/lib/css/student/login-layer.css" rel="stylesheet" />

<div id="company-container-in cf">
    <!-- 公司主页Banner start -->
    <input id="EtpId" name="EtpId" type="hidden" value="889561" />
    <!-- 公司主页Banner start -->
    <div id="company-container">
        <div class="company-banner">
            <div class="com-title-content">
                <div class="com-banner-logo">
                    <img src="Upload/e/889561/150x150.jpg?time=20170503223553" alt="大参林医药集团股份有限公司校园招聘" class="photo" width="120" height="120">
                </div>
                <p title="大参林医药集团股份有限公司" class="com-name">
                    大参林医药集团股份有限公司
                    <i title="就业联盟8认证企业"></i>
                </p>
                <div class="com-follow-on">
                    <p class="pos-follow-logo inactive">关注</p>
                </div>
            </div>
            <img class="enterprise-bg" src="static/Images/xyt/qi_bg2.jpg" alt="公司背景">
        </div>
        <div class="company-nav-outer">
            <div class="company-nav">
                <div class="center-pos">
                    <a href="/enterprise/0">公司详情</a>
                    <a href="/enterprise/0/job">校招职位（5）</a>
                    <a href="/enterprise/0/hr">对话HR</a>
                    <a href="/enterprise/0/interview-comment" class="cur">面试评价</a>
                </div>
            </div>
            <div id="nav-up-summary"></div>
        </div>
    </div>
    <!--EndDonut-->
    <!-- 公司主页Banner end -->
    <!-- 公司详情内容区 start -->
    <div class="company-container cf">
        <!-- 对话HR start -->
        <div class="com-school-position">
            <p class="school-pos-name">全部评价</p>
            <ul class="school-pos-container">
                <li class="fb-no">
                    <div class="noResult-logo"></div>
                    <p>暂无面试评价~</p>
                </li>
            </ul>
        </div>
        <div class="container-divide"></div>
        <div class="right-float">
            <div class="com-title-name">
                <div class="cf">
                    <span class="title">基本信息</span>
                    <span class="title-line"></span>
                </div>
                <div class="summary">
                    <p class="summary-list">行业：<span>制药/生物工程,医疗/护理/卫生</span></p>
                    <p class="summary-list">性质：<span>民营/股份制企业</span></p>
                    <p class="summary-list">规模：<span>2000人以上</span></p>
                    <p class="summary-list">
                        公司网址：
                        <a href="" target="_blank" rel="external nofollow"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 对话HR end -->
    <!-- 公司详情内容区 end -->
</div>

<script src="@AppSetting.Rss_Image/content/static/lib/js/student/login-layer.js"></script>
<script src="@AppSetting.Rss_Image/content/static/lib/js/base/jquery.bxslider.min.js"></script>
<script src="@AppSetting.Rss_Image/content/static/lib/js/base/coding.js"></script>
<script src="@AppSetting.Rss_Image/content/static/lib/js/base/global.js"></script>

<script>
    var weiboLoginRediretUri =
        'http%3a%2f%2fwww.zheyibu.com%2fhome%2fStuThirdLogin%2f%3freturnUrl%3dhttp%3a%2f%2fcompany.zheyibu.com%2f889561',
        qqLoginRediretUri =
        'http%3a%2f%2fwww.zheyibu.com%2fhome%2fStuThirdLogin%2f%3freturnUrl%3dhttp%3a%2f%2fcompany.zheyibu.com%2f889561',
        wechatLoginRediretUri =
        'http%3a%2f%2fwww.zheyibu.com%2fhome%2fWeChatLogin%2f%3freturnUrl%3dhttp%3a%2f%2fcompany.zheyibu.com%2f889561';
    $(function() {
        var isLogin = global.getCookie("Login");
        $(".form-fb").submit(function(e) {
            var _this = $(this);
            var question = $("#hr-fb-id").val();
            question ? '' : e.preventDefault();
        });
        $(".pos-follow-logo.inactive").on("click", function() {
            var _this = $(this),
                followFun = function() {
                    return $.ajax({
                        type: "POST",
                        url: '/company/follow/',
                        data: {
                            id: $("#EtpId").val()
                        },
                        success: function(r) {
                            if (r.result == 1) {
                                _this.text("√ 已关注").removeClass("inactive").addClass("active")
                            }
                        },
                        error: function(r) {
                            console.log(r)
                        }
                    })
                };
            if (!!isLogin) {
                followFun()
            } else {
                _this.loginLayer({
                    reUrl: {
                        weiboLoginRediretUri: weiboLoginRediretUri,
                        qqLoginRediretUri: qqLoginRediretUri,
                        wechatLoginRediretUri: wechatLoginRediretUri
                    },
                    onLayerMask: function() {
                        location.href = location.href;
                        followFun();
                    }
                })
            }
        });
        $('.fake').click(function() {
            $(this).hasClass('active') ? '' : $(this).addClass('active').siblings('.fake').removeClass('active');
            $('[name="isHideName"]').val($(this).attr('data-value'));
        });
        // 员工生活轮播组件
        var bxSlide = $('.staff-title').bxSlider({
            controls: false,
            speed: 800,
            auto: true,
            pause: 5000,
            pager: false,
        });
        $('.nextEl').click(function() {
            bxSlide.goToNextSlide();
        });
        $('.preEl').click(function() {
            bxSlide.goToPrevSlide();
        });
        var docHeight = $(document).height();
        $(window).on('scroll', function() {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > 378) {
                $('.right-float').css({
                    position: 'fixed',
                    top: 58,
                    bottom: 'auto'
                });
                $(".company-nav").css({
                    position: "fixed",
                    top: 0,
                    left: 0,
                    right: 0,
                    zIndex: 5,
                    backgroundColor: "#f5f5f5"
                });
            } else {
                $('.right-float').removeAttr('style');
                $(".company-nav").removeAttr("style");
            }
        });
        // 小步爱打听
        $('.xiaobu-icon').length !== 0 ? (function() {
            $('.xiaobu-icon').on('mouseenter', function() {
                $('.com-xiaobu-right').css('display', 'block');
            }).on('mouseleave', function() {
                $('.com-xiaobu-right').css('display', 'none');
            })
        }()) : '';
    })
</script>

