@using Campus.Recruitment.Entities.Entity.Customers;
@model List<CustomerIntramuralJob>

<div id="info-position" class="info-holder">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <div class="info-item">
                <div class="info-col">
                    <div class="date">@item.Start_campus.ToString("yyyy.MM")  - @item.End_campus.ToString("yyyy.MM")</div>
                    <div class="meta">
                        <span>@item.Position_name</span>
                        <span>@item.School_name</span>
                    </div>
                    <div class="action-col">
                        <a title="编辑" href="javascript:;" rel="edit" itemid="@item.Id" itemtype="position" class="edit-btn J_ActionBtn"></a>
                        <a title="删除" href="javascript:;" rel="delete" itemid="@item.Id" itemtype="position" class="del-btn J_ActionBtn"></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="desc">@item.Position_desc</div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="no-data-prompt">
            填写校内职务
        </div>
    }
</div>