@using Campus.Recruitment.Entities.Entity.Customers;
@model List<CustomerLanguage>

<div id="info-language" class="info-holder">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <div class="info-item">
                <div class="info-col">
                    <div class="date">@item.Name</div>
                    <div class="meta">
                        <div class="examlist">
                            <label>等级考试：</label>
                            <span>@item.Certifications</span>
                        </div>
                        <h3>听说：<span>@item.Hear</span></h3>
                        <h3>读写：<span>@item.Read_write</span></h3>
                    </div>
                    <div class="action-col">
                        <a title="编辑" href="javascript:;" rel="edit" itemid="@item.Id" itemtype="language" class="edit-btn J_ActionBtn"></a>
                        <a title="删除" href="javascript:;" rel="delete" itemid="@item.Id" itemtype="language" class="del-btn J_ActionBtn"></a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="no-data-prompt">
            填写语言能力
        </div>
    }
</div>