@model Campus.Recruitment.Entities.Entity.Customers.CustomerExperience

<div class="form-holder">
    <div class="resume-form">
        <form action="/resume/submitrecord/" id="form-experience" method="post">
            <input data-val="true"  id="Id" name="Id" type="hidden" value="@Model.Id" />
            <input id="itemType" name="itemType" type="hidden" value="experience" />
            <ul class="resume-ul">
                <li class="text ui-form-item">
                    <label for="units"><em>*</em>公司名称</label>
                    <div class="fieldgroup">
                        <input class="resume-text" id="units" maxlength="50" name="Units" type="text" value="@Model.Units"/>
                        <span class="ui-form-explain"></span>
                    </div>
                </li>
                <li class="text">
                    <label>部门</label>
                    <div class="fieldgroup">
                        <input class="resume-text" id="dept" maxlength="50" name="UnitsDept" type="text" value="@Model.Units_dept"/>
                    </div>
                </li>
                <li class="text ui-form-item">
                    <label for="position"><em>*</em>职位</label>
                    <div class="fieldgroup">
                        <input class="resume-text" id="position" maxlength="30" name="UnitsPosition" type="text" value="@Model.Units_position"/>
                        <span class="ui-form-explain"></span>
                    </div>
                </li>
                <li class="text ui-form-item">
                    <label><em>*</em>在职时间</label>
                    <div class="fieldgroup">
                        @{
                            var start_intership_show = Model.Start_intership > DateTime.MinValue ? Model.Start_intership.ToString("yyyy.MM") : "";
                            var start_intership = Model.Start_intership > DateTime.MinValue ? Model.Start_intership.ToString("yyyy/MM/dd") : "";

                            var end_intership_show = Model.End_intership > DateTime.MinValue ? Model.End_intership.ToString("yyyy.MM") : "";
                            var end_intership = Model.End_intership > DateTime.MinValue ? Model.End_intership.ToString("yyyy/MM/dd") : "";
                        }
                        <div class="ui-date-wrap ui-date-exp"><input class="resume-text ui-input-date" id="start-intership" readonly="" type="text" value="@start_intership_show"></input><input id="start-intership-id" name="StartDate" type="hidden" value="@start_intership"></input></div>
                        <em class="select-to">至</em>
                        <div class="ui-date-wrap ui-date-exp"><input class="resume-text ui-input-date" id="end-intership" readonly="" type="text" value="@end_intership_show"></input><input id="end-intership-id" name="EndDate" type="hidden" value="@end_intership"></input></div>
                        <span class="ui-form-explain"></span>
                    </div>
                </li>
                <li class="text ui-form-item">
                    <label>工作描述</label>
                    <div class="fieldgroup">
                        <textarea class="resume-area" cols="50" id="UnitsWorkDesc" name="UnitsWorkDesc" placeholder="描述职务的具体工作以及获得的成就等（限400字）" rows="8">@Model.Units_work_desc</textarea>
                    </div>
                </li>
            </ul>
            <p class="actions">
                <input type="submit" id="submit-experience" itemtype="experience" class="J_Submit button-save hover-tran" value="保 存">
                <a itemtype="experience" class="J_Cancel" href="javascript:;">取消</a>
            </p>
        </form>
    </div>
</div>
<script type="text/javascript">
    // 简历模块的js
    seajs.use(['validator', '$', 'zyb/datePicker/DatePicker'], function (Validator, $, DatePicker) {

        $(function () {

            window.experienceValidator = validator = new Validator({
                element: '#form-experience',
                failSilently: true,
                triggerType: false
            });

            //check 结束日期 是否 大于 开始日期
            Validator.addRule('checkEndDateResonable', function (options, commit) {
                var element = options.element;
                var numStart = parseInt($.trim($("#start-intership").val()).split('.').join(''));
                var numEnd = parseInt($.trim($("#end-intership").val()).split('.').join(''));
                var message = '';
                var valid = true;
                //日期比较
                if (numStart > numEnd) {
                    valid = false;
                    message = "结束日期应大于开始日期";
                }
                commit(valid, message);
            });

            Validator.addRule('wordLimit', function (options, commit) {
                var element = options.element;
                var val = element.val();
                var message = '';
                var valid = true;
                if (val != '' && val.length > 400) {
                    valid = false;
                    message = "描述内容限400字";
                }
                commit(valid, message);
            });

            validator.addItem({
                element: '#units',
                required: true
            })
            .addItem({
                element: '#position',
                required: true
            })
            .addItem({
                element: '[name=StartDate]',
                required: true,
                errormessageRequired: '请选择开始时间',
                rule: 'checkEndDateResonable'
            })
            .addItem({
                element: '[name=EndDate]',
                required: true,
                errormessageRequired: '请选择结束时间',
                showMessage: function (message, element) {
                    // 结束日期出错后会调用这个函数。如果前面的开始日期没有出错的时候才显示自己的出错消息。
                    var startErr = $.trim(this.getExplain(element).html());
                    if (!startErr) {
                        this.getExplain(element).html(message);
                        this.getItem(element).addClass(this.get('itemErrorClass'));
                    }
                },
                hideMessage: function (message, element) {
                    // 结束日期校验通过后会调用这个函数。如果前面的开始日期没有出错的时候才清空消息。
                    var startErr = $.trim(this.getExplain(element).html());
                    if (!startErr) {
                        this.getExplain(element).html(element.attr('data-explain') || ' ');
                        this.getItem(element).removeClass(this.get('itemErrorClass'));
                    }
                }
            })
            .addItem({
                element: '#UnitsWorkDesc',
                rule: 'wordLimit'
            });

            (function () {
                var nowYear = new Date().getFullYear();

                $("#start-intership").datePick({
                    hiddenField: '#start-intership-id',
                    startYear: nowYear - 10,
                    defaultYear: nowYear,
                    format: 'yyyy.mm.dd',
                    disableDate: 1,
                    //referDate: function () {
                    //    return $('#end-intership').val();
                    //}
                });
                $("#end-intership").datePick({
                    hiddenField: '#end-intership-id',
                    startYear: nowYear - 10,
                    defaultYear: nowYear,
                    format: 'yyyy.mm.dd',
                    disableDate: -1,
                    //referDate: function () {
                    //    return $('#start-intership').val();
                    //},
                    endYearText: '至今'
                });
            })();


        });//end ready


    });//end seajs.use
</script>
