@using Campus.Recruitment.Models
@{
    //判断是否登录
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "HR邀请";
}

@*<link href="/content/static/css/zyb/zyb-new20150121.css" rel="stylesheet" type="text/css">
<link href="/content/static/css/zyb/zyb-user.css" rel="stylesheet" type="text/css">
<link href="/content/static/student/css/landpage/userCenter.css" rel="stylesheet">*@

<script src="@AppSetting.Rss_Image/content/static/zheyibu/components/jQuery/jquery.min.js"></script>
<script src="@AppSetting.Rss_Image/content/static/zheyibu/static/js/global.js"></script>
<script src="@AppSetting.Rss_Image/content/static/zheyibu/components/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<link rel="stylesheet" href="@AppSetting.Rss_Image/content/static/zheyibu/components/mCustomScrollbar/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="@AppSetting.Rss_Image/content/static/zheyibu/static/css/global.css">
<link href="@AppSetting.Rss_Image/content/static/css/zyb/zyb-new20150121.css" rel="stylesheet" type="text/css">
<script src="@AppSetting.Rss_Image/content/static/zheyibu/static/js/coding.js"></script>
<link href="@AppSetting.Rss_Image/content/static/css/zyb/zyb-user.css" rel="stylesheet" type="text/css">
<link href="@AppSetting.Rss_Image/content/static/student/css/landpage/userCenter.css" rel="stylesheet">
<script src="@AppSetting.Rss_Image/content/static/js/sea-modules/seajs/seajs/2.1.1/sea.js" type="text/javascript"></script>
<script type="text/javascript">
    seajs.config({
        alias: {
            $: 'jquery/jquery/1.7.2/jquery',
            placeholder: 'jquery/placeholder/1.0.0/placeholder',
            dialog: 'arale/dialog/1.2.3/dialog',
            calendar: 'arale/calendar/1.0.0/calendar',
            validator: 'arale/validator/0.9.7/validator',
            jqueryform: 'jquery/form/3.49.0/form'
        }
    });
</script>
<div class="content">
    <div class="content-in">
        <!--左侧功能栏开始-->
        <div class="user-left">
            <div class="resume-all" style="margin-top:0px;">
                <ul class="left-resume">
                    <li class="resume-module-title">
                        我的简历
                    </li>
                    <li class="resume-module-item ">
                        <a href="/resume/0">在线简历</a>
                    </li>
                </ul>
                <ul class="left-resume">
                    <li class="resume-module-title">
                        提升学历
                    </li>
                    <li class="resume-module-item active ">
                        <a href="/promote-diploma/back">提升学历</a>
                    </li>
                </ul>
                <ul class="left-resume">
                    <li class="resume-module-title">
                        我的求职
                    </li>
                    <li class="resume-module-item  apply">
                        <a href="/position/apply">申请的职位</a>
                        <i class="num"></i>
                    </li>
                    @*<li class="resume-module-item  push">
                        <a href="/position/recommend">推荐的职位</a>
                        <i class="num"></i>
                    </li>*@
                    <li class="resume-module-item active hrinvite">
                        <i class="guide"></i>
                        <a href="/position/hr-invintes">HR邀请</a>
                    </li>
                    <li class="resume-module-item">
                        <a href="/position/collection-post">收藏的职位</a>
                        <i class="num"></i>
                    </li>
                </ul>
            </div>
        </div>
      
        <!--左侧功能栏结束-->
        <!--右侧内容开始(无数据时显示,样式hide-info用于隐藏该内容)-->
        <div class="right-favorites">
            <div class="right-title" style="border-left:0;">
                <em>HR邀请</em>
            </div>
            <div class="rec-title">
                <p>
                    就业联盟8根据你的职业理想将你推荐给符合你期望的企业。 HR查阅你的简历并觉得适合后，对你发起邀请HR邀请投递的成功率将大大提高， 不要错过任何一个邀请哦。&nbsp;&nbsp;&nbsp;
                    <a href="/resume/myobjective/">修改我的职业理想&gt;&gt;</a>
                </p>
            </div>
            <div class="nodata pt50">
                <p class="nodata-img"><img src="@AppSetting.Rss_Image/content/static/Images/avatar/hr-invite.png"></p>
                <p class="font-one">暂无HR邀请你投递职位</p>
                <p class="font-two">一份完整的简历可增加HR邀请的几率</p>
            </div>
        </div>
        <!--右侧内容结束(无数据)-->
    </div>
</div>

<script src="@AppSetting.Rss_Image/content/static/js/zyb/navigation.js" type="text/javascript"></script>
<script type="text/javascript">
    seajs.use(['arale/dialog/1.2.3/dialog', '$', 'zyb/popup/1.0.0/topu.dialog', 'zyb/prompt/1.0.0/prompt'], function(Dialog, $, popDialog, Prompt) {
        $(function() {
            window.dialog = new Dialog({
                width: 500,
                trigger: '.J_ApplySingle',
                closeTpl: ' '
            }).before('show', function() {
                var applypid = this.activeTrigger.data('pid');
                console.log(applypid);

                this.set('content', '/pop/DoOperation?Operation=apply&targetid=' + applypid);

            });
            $('.job-button').on('click', function() {
                var _this = $(this);
                var oConfirmDialog = _this.createDialog({
                    title: "来自就业联盟8的提示：",
                    btnType: "confirm",
                    btnText: {
                        yes: "确定",
                        no: "取消"
                    },
                    text: "确定要拒绝邀请此职位吗？",
                    onHide: function() {
                        $(".pop-dialog").remove();
                    },
                    confirmCallback: function() {
                        $.ajax({
                            type: 'post',
                            url: '/mystep/ignoreinviation/',
                            data: {
                                PushId: _this.attr('data-id')
                            },
                            success: function(data) {
                                if (data.code == 0) {
                                    new Prompt({
                                        trigger: _this, //触发元素
                                        time: 1200, //提示层显示的时间
                                        content: "拒绝成功!", //显示的消息
                                        type: "success" //提示类型（1、success 2、error 3、warning 4、null）
                                    });
                                    _this.unbind().removeClass('job-button hover-tran').addClass('job-refuse').html("已拒绝");
                                } else {
                                    var failDialog = _this.createDialog({
                                        title: "来自就业联盟8的提示：",
                                        btnType: "confirm",
                                        btnText: {
                                            yes: "知道了",
                                        },
                                        text: data.msg,
                                        onHide: function() {
                                            $(".pop-dialog").remove();
                                        },
                                        confirmCallback: function() {},
                                    })
                                    failDialog.showDialog();
                                }
                            }
                        });
                    }
                });
                oConfirmDialog.showDialog();
            });
        });
    });
</script>
