@using Campus.Recruitment.Models
@{
    //判断是否登录
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "求职攻略";
}


<link href="@AppSetting.Rss_Image/Content/static/student/css/advice/advice.css" rel="stylesheet" type="text/css" />

<div id="homepage-container">
    <div class="homepage-container">
        <!-- 主内容区 start -->
        <div class="search-result">
            <div class="advice-left">
                <!-- 文章列表页 start -->
                <ul class="left-advice">
                    <li class="list-title">
                        <span>全部文章</span>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5693/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">95后应届生求职记，优秀平庸两极化</a>
                                <p class="advice-paragraph">又是一年校招快要接近尾声的时刻，一大批17届毕业生即将涌入社会。虽然说90后、95后相对80后更具个性，但是初次求职他们心里也是没有底气，对自己不自信，对未来迷茫，这种不确定的情绪同时混杂...</p>
                                <a href="/raiders/search" class="advice-stamp">职业规划</a>
                                <a href="/raiders/search" class="advice-stamp">应届生</a>
                                <a href="/raiders/search" class="advice-stamp">专业对口</a>
                                <a class="advice-date">2017-04-25</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5690/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">你是如何在年轻时杀死自己的？</a>
                                <p class="advice-paragraph">工作满三年，你的同学、同事可能都会有完全不同的境遇，有的人“青云直上”，已经做着 Leader 的工作；有的人，则泯然于众人矣……那么十年后呢？十年后的你，会告诉现在的自己些什么？你可曾后...</p>
                                <a href="/raiders/search" class="advice-stamp">职场新人</a>
                                <a href="/raiders/search" class="advice-stamp">技能提升</a>
                                <a href="/raiders/search" class="advice-stamp">职业发展</a>
                                <a class="advice-date">2017-04-25</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5689/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">没有产品经理专业，用人单位是怎么招聘应届生的</a>
                                <p class="advice-paragraph">最近各大院校的人才双选会都已经开始，很多企业都会走进学校去招揽人才。校招通常都是时间紧，任务重，更何况有时候跨城参加。面对人头攒动的学生和投递来的大批量简历，如何在短时间筛选出自己...</p>
                                <a href="/raiders/search" class="advice-stamp">求职指导</a>
                                <a href="/raiders/search" class="advice-stamp">HR分享</a>
                                <a href="/raiders/search" class="advice-stamp">产品经理</a>
                                <a class="advice-date">2017-04-24</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5688/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">中国移动云南分公司2017校招经历分享</a>
                                <p class="advice-paragraph">4月20日，收到移动录用通知是晚上八点四十分，我等这一天等了太久了~收到录用通知的时候，真的很激动！虽然大家对移动的看法态度褒贬不一，我也看了很多帖子关于移动的，但我还是依然坚持想要进...</p>
                                <a href="/raiders/search" class="advice-stamp">面经</a>
                                <a href="/raiders/search" class="advice-stamp">通信</a>
                                <a href="/raiders/search" class="advice-stamp">中国移动</a>
                                <a class="advice-date">2017-04-24</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5685/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">HR细说英语面试</a>
                                <p class="advice-paragraph">争取到了外资公司的面试机会，一般它们都有英语要求，如果有招聘广告的，可看看他们对英语的要求是什么；如果是有人推荐，比如猎头，问问对方公司对这个职位的英语，究竟需要什么程度，这样方便...</p>
                                <a href="/raiders/search" class="advice-stamp">求职指导</a>
                                <a href="/raiders/search" class="advice-stamp">英语面试</a>
                                <a href="/raiders/search" class="advice-stamp">外企</a>
                                <a class="advice-date">2017-04-21</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5684/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">五条亲测非常有效的简历建议，干货还不长</a>
                                <p class="advice-paragraph">一个干货到连前言都懒得啰嗦的分享。上正文：1. 针对职位要求抓住简历重点一份简历海投当然是省力的做法，但却容易失去针对性，缺少竞争力。所以海投才少有成功。有的职位要求强大的写作能力（...</p>
                                <a href="/raiders/search" class="advice-stamp">求职指导</a>
                                <a href="/raiders/search" class="advice-stamp">简历</a>
                                <a href="/raiders/search" class="advice-stamp">求职技巧</a>
                                <a class="advice-date">2017-04-21</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5680/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">实习生想转正，必须避开这10条新人禁忌！</a>
                                <p class="advice-paragraph">职场新人往往会不经意间犯一些小错误，也许他还没觉察到，别人对他的评价已经开始减分了。在能力之外，职场新人的工作态度、处事方法、性格特点，都会影响转正结果。下面我列举出10条职场新人可...</p>
                                <a href="/raiders/search" class="advice-stamp">实习生</a>
                                <a href="/raiders/search" class="advice-stamp">转正</a>
                                <a href="/raiders/search" class="advice-stamp">职场新人</a>
                                <a class="advice-date">2017-04-20</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5679/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">麦肯锡2017大中华区校招全职offer</a>
                                <p class="advice-paragraph">背景: 本科，美國交換一年，F500 實習*2，海外實習*1流程:1. CV + PSTCV 網路上素材很多，有機會交換到英語系國家的話，建議好好利用當地的Career CenterPST 三套題不練習完沒關係，但要了解並...</p>
                                <a href="/raiders/search" class="advice-stamp">面经</a>
                                <a href="/raiders/search" class="advice-stamp">麦肯锡</a>
                                <a href="/raiders/search" class="advice-stamp">咨询</a>
                                <a class="advice-date">2017-04-20</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5671/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">春招尾声，如何选择手中“不好不坏”的Offer</a>
                                <p class="advice-paragraph">最近停下来想想，有什么问题是最多同学想问，除了一些技术性问题外，最多人问的一定是和人生方向的问题，而非常多的同学会来问：“我有两位实习机会不知选那个好。”“在公司实习了5个月，我应...</p>
                                <a href="/raiders/search" class="advice-stamp">春招</a>
                                <a href="/raiders/search" class="advice-stamp">职业发展</a>
                                <a href="/raiders/search" class="advice-stamp">选择</a>
                                <a class="advice-date">2017-04-19</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5670/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">签工作offer前要弄清楚的那些事儿</a>
                                <p class="advice-paragraph">个人觉得，作为一名大学毕业两年，在社会上混了三年，在四家以上的公司工作实习过较长时间的蠢作者——我，对于签工作OFfer之前要搞清楚那些事儿，还是比较有发言权的。1-三方协议相信绝大多数...</p>
                                <a href="/raiders/search" class="advice-stamp">求职指导</a>
                                <a href="/raiders/search" class="advice-stamp">职业发展</a>
                                <a href="/raiders/search" class="advice-stamp">薪资福利</a>
                                <a class="advice-date">2017-04-19</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5664/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">2017毕马威春季精英计划网申与笔试之旅</a>
                                <p class="advice-paragraph">【网申】我网申的时间大约是在4月初。我从大一就开始关注四大了，也算是目标之一吧。在3月尾，毕马威到我们学校来宣传精英计划。那个时候我才突然想起来，是喔，四大在大二都可以开启网申的，我...</p>
                                <a href="/raiders/search" class="advice-stamp">面经</a>
                                <a href="/raiders/search" class="advice-stamp">毕马威</a>
                                <a href="/raiders/search" class="advice-stamp">四大</a>
                                <a class="advice-date">2017-04-18</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5663/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">从小到大，你被“不会说话”坑害了多少次？</a>
                                <p class="advice-paragraph">自从我意识到，说话在生活中产生的积极影响，我就开始注意这方面的锻炼。直到现在毕业后工作多年，我非常庆幸当年自己坚持锻炼口才，否则我的工作和生活想必没有现在这么顺利。正如TVB那句常用...</p>
                                <a href="/raiders/search" class="advice-stamp">能力提升</a>
                                <a href="/raiders/search" class="advice-stamp">沟通</a>
                                <a href="/raiders/search" class="advice-stamp">职场新人</a>
                                <a class="advice-date">2017-04-18</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5662/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">如何在职业社交场合跟人自如勾搭？</a>
                                <p class="advice-paragraph">﻿你喜欢在领英上跟人勾搭吗？”在一次面试里，我曾经这样被问道。“呃，勾搭？”“就，你知道的.NETworking啊。”如何.NETwork翻译成中文，这真是一个好问题。中国文化的内敛似乎决定了我们在...</p>
                                <a href="/raiders/search" class="advice-stamp">职场新人</a>
                                <a href="/raiders/search" class="advice-stamp">沟通</a>
                                <a href="/raiders/search" class="advice-stamp">社交</a>
                                <a class="advice-date">2017-04-17</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5661/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">去腾讯面试暑假实习生是怎样一种体验</a>
                                <p class="advice-paragraph">1.今年3月申请，4月2日参加了腾讯的线上笔试，笔试内容主要是一些市场类的题目，有选择题和分析题，时间60分钟，做完时间还是比较赶的。4月11日晚收到腾讯武汉面试的通知，期间以为自己笔试就被...</p>
                                <a href="/raiders/search" class="advice-stamp">面经</a>
                                <a href="/raiders/search" class="advice-stamp">腾讯</a>
                                <a href="/raiders/search" class="advice-stamp">实习</a>
                                <a class="advice-date">2017-04-17</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="advice-content">
                            <a href="/raiders/0" target="_blank"><img src="" class="lazy" data-original="@AppSetting.Rss_Image/Content/upload/article/5655/thumb.jpg" /></a>
                            <div class="advice-detail">
                                <a class="advice-name" href="/raiders/0" target="_blank">在找工作的过程中，应该如何防止被骗</a>
                                <p class="advice-paragraph">在找工作的过程中，应该如何防止被骗？关于找工作如何防止被骗这个主题，是大家在找工作时都必须修炼的一门功课。除去由于客观原因被骗的原因之外，咱们得多从自己的主观去找找原因，比如：1、...</p>
                                <a href="/raiders/search" class="advice-stamp">求职指导</a>
                                <a href="/raiders/search" class="advice-stamp">骗局</a>
                                <a href="/raiders/search" class="advice-stamp">面试技巧</a>
                                <a class="advice-date">2017-04-14</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- 文章列表页 end -->
                <ul class="page-footer">
                    <li class="current"><a href="javascript:;">1</a></li>
                    <li><a href="http://www.zheyibu.com/article/?page=2">2</a></li>
                    <li><a href="http://www.zheyibu.com/article/?page=3">3</a></li>
                    <li><a href="http://www.zheyibu.com/article/?page=4">4</a></li>
                    <li><a href="http://www.zheyibu.com/article/?page=5">5</a></li>
                    <li class="omitPage">...</li>
                    <li><a href="http://www.zheyibu.com/article/?page=100">100</a></li>
                    <li class="next-page">
                        <a href="http://www.zheyibu.com/article/?page=2"></a>
                    </li>
                </ul>
            </div>
            <div class="advice-right">
                <!-- 文章搜索 start -->
                <div class="article-right">
                    <div class="article-header">
                        <span>文章搜索</span>
                        <form action="/raiders/search" method="get">
                            <input type="text" name="q" class="search-article" placeholder="关键词搜索">
                            <input type="submit" value="" class="article-btn" />
                        </form>
                    </div>
                    <div class="hot-article">
                        <i></i>
                        <p class="hot-title">热门文章</p>
                        <ul>
                            <li><i class="hot_1">1</i><a href="/raiders/0" target="_blank" title="2016腾讯暑期实习IEG事业群营销岗面经+已拿offer">2016腾讯暑期实习IEG事业群营...</a></li>
                            <li><i class="hot_2">2</i><a href="/raiders/0" target="_blank" title="为什么你的实习不能转正？">为什么你的实习不能转正？</a></li>
                            <li><i class="hot_3">3</i><a href="/raiders/0" target="_blank" title="刚毕业的大学生怎么识别那些不靠谱的公司">刚毕业的大学生怎么识别那些...</a></li>
                            <li><i class="hot_4">4</i><a href="/raiders/0" target="_blank" title="拿到offer不要急着入职，你还需要注意这几点">拿到offer不要急着入职，你还...</a></li>
                            <li><i class="hot_5">5</i><a href="/raiders/0" target="_blank" title="不知道自己适合什么职业？两步教你精准定位！">不知道自己适合什么职业？两...</a></li>
                            <li><i class="hot_common">6</i><a href="/raiders/0" target="_blank" title="985文科男的2017届龙湖地产仕官生求职之旅">985文科男的2017届龙湖地产仕...</a></li>
                            <li><i class="hot_common">7</i><a href="/raiders/0" target="_blank" title="华夏银行人谈待遇、发展等内部情况">华夏银行人谈待遇、发展等内...</a></li>
                            <li><i class="hot_common">8</i><a href="/raiders/0" target="_blank" title="当面试官问：你还去哪面试了？怎样回答最得体？">当面试官问：你还去哪面试了...</a></li>
                        </ul>
                    </div>
                </div>
                <!-- 文章搜索 end -->
                <!-- 热门标签 start -->
                <div class="hotlink-right">
                    <i></i>
                    <p>热门标签</p>
                    <a href="/raiders/search" title="管培生">管培生</a>
                    <a href="/raiders/search" title="快消行业">快消行业</a>
                    <a href="/raiders/search" title="简历">简历</a>
                    <a href="/raiders/search" title="职业规划">职业规划</a>
                    <a href="/raiders/search" title="面试技巧">面试技巧</a>
                    <a href="/raiders/search" title="面试着装">面试着装</a>
                    <a href="/raiders/search" title="沟通">沟通</a>
                    <a href="/raiders/search" title="互联网">互联网</a>
                    <a href="/raiders/search" title="职场心态">职场心态</a>
                    <a href="/raiders/search" title="医药医疗">医药医疗</a>
                    <a href="/raiders/search" title="薪酬">薪酬</a>
                </div>
                <!-- 热门标签 end -->
            </div>
        </div>
        <!-- 主内容区 end -->
    </div>
</div>


<script src="@AppSetting.Rss_Image/content/static/lib/js/base/jquery.lazyload.min.js"></script>
<script>
    $(".header-list .list-item").removeClass("current");
    $(".header-list .list-item").eq(4).addClass("current");

    $('.left-advice').find('img').lazyload({
        threshold: 200,
        effect: "fadeIn"
    });
    var num = $(".book-img").find("li").length,
        current = 0;
    $(".book-img").css("width", num * 194);
    $(".icon-next").click(function() {
        if ((num - 1) > current) {
            $(".book-img").animate({
                left: -194 * ++current
            }, 500)
        }
    });
    $(".icon-pre").click(function() {
        if (current != 0) {
            $(".book-img").animate({
                left: -194 * --current
            }, 500)
        }
    });
</script>

